@charset"utf-8";
 body {
    margin: 0px;
    padding: 0px;
}
img {
    border: 0px;
}
#banner {
    /*margin: 30px auto 0px auto;*/
    margin: auto;
    padding: 0px;
    width: 1280px;
    height: 380px;
}
.slides {
    margin: auto;
    width: 1280px;
    height: 380px;
    overflow: hidden;
    position: relative;
}
.slidesbox {
    margin: auto;
    width: 960px;
    height: 380px;
    overflow: hidden;
    position: relative;
}
.slide-pic {
    margin: 0px;
    padding: 0px;
    width: 1280px;
    overflow: hidden;
    list-style: none;
}
.slide-pic img {
    width: 1280px;
    /*height: 380px;*/
}
.slide-pic li {
    display: none;
}
.slide-pic li.cur {
    display: block;
}
.slide-li {
    margin: 0px;
    /*margin: auto;*/
    /*width: 960px;*/
    margin-top: 10px;
    padding: 0px;
    left: 160px;
    bottom: 0px;
    position: absolute;
}
.slide-li li {
    margin: 0px;
    padding: 0px;
    width: 192px;
    height: 5px;
    float: left;
    overflow: hidden;
    list-style: none;
}
.slide-li a {
    width: 192px;
    height: 10px;
    color: #000;
    font-size: 12px;
    display: block;
}
.slide-li a:hover {
    color: #F00;
    text-decoration: none;
}
.op li {
    background: #999999;
    filter: alpha(opacity=60);
    opacity: 0.6;
}
.op li.cur {
    background: #000000;
}
.slide-txt span {
    display: none;
}
