.tabs {
  width: 960px;
  float: none;
  list-style: none;
  position: relative;
  /*margin: 80px 0 0 10px;*/
  text-align: left;
}
.tabs li {
  float: left;
  display: block;
}
.tabs input[type="radio"] {
  position: absolute;
  top: -9999px;
  left: -9999px;
}
.tabs a {
  text-decoration: none;
  color: #000;
}
.tabs label {
  display: block;
  padding: 0px 10px;
  border-radius: 2px 2px 0 0;
  /*font-size: 20px;*/
  font-size: 100%;
  font-weight: normal;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
  opacity: 0.5;
  top: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}
.tabs label:hover {
  opacity: 1;
}
.tabs .tab-content {
  z-index: 2;
  display: none;
  overflow: hidden;
  width: 100%;
  font-size: 115%;
  line-height: 25px;
  padding: 25px;
  position: absolute;
  top: 53px;
  left: 0;
}
.tabs [id^="tab"]:checked + label {
  /*top: 0;*/
  /*padding-top: 17px;*/
  opacity: 1;
}
.tabs [id^="tab"]:checked ~ [id^="tab-content"] {
  display: block;
}
